body {
    background-color: #010610; 
    font-family: Arial, sans-serif; 
    margin: 0;  
    padding: 0;  
    display: flex;  
    justify-content: center;  
    align-items: center; 
    height: 100vh;  
}

section {
    text-align: center;
    padding: 20px;
    width: 30%;
    max-width: 400px; 
    margin-top: 50px;
    background-color: #010610; 
    border-radius: 15px;
    margin-right: 10%;
}

img {
    margin-bottom: 20px;  
    width: 50%;
}

h2 {
    color: #FFFFFF;
    margin-bottom: 30px; /* Space between title and form */
}

input {
    width: 90%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
    background-color: #1e232d; /* Dark background for input */
    color: #fff; /* White text inside input */
}

input:focus {
    border-color: #F24E1E; /* Highlight border on focus */
    background-color: #2b303a; /* Darker background on focus */
}

label {
    color: #FFFFFF;
    margin-bottom: 8px;
    display: block; /* Labels block style for spacing */
}

button {
    background-color: transparent; 
    color: white;
    border: 2px solid #F24E1E;  
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;  
    width: 100%;  
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
    background-color: #F24E1E;  
    color: white;
    border-color: #D83A12;  
}

.erreur {
    color: #F24E1E; /* Red color for errors */
    font-size: 14px;
    margin-top: 10px;
}
